{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balanzen</title>
    <!-- Material icons para iconos simples -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/fonts.css' %}" />
</head>

<body class="d-flex flex column min-vh-100">


    <div>
        {% block header %} {% include "pages/header.html"%} {% endblock %}
    </div>
    <div class="container">
        {% block content %} {% endblock content %}
    </div>

    {% block footer %} {% include "pages/footer.html" %} {% endblock %}


</body>

</html>