{% load static %}
<footer>
    <div class="footer-grid">
        <div class="footer-col">
            <a href="index.html"><img class="logo" src="{% static 'assets/logos/logo_blanco.svg' %}" alt="balanzen logo" /></a>
        </div>
        <div class="footer-col">
            <h4>Balanzen</h4>
            <a href="">Sobre nosotros</a>
            <a href="">Nuestras clases</a>
            <a href="">Locales</a>
            <a href="">Trabaja con nosotros</a>
        </div>
        <div class="footer-col">
            <h4>Servicios</h4>
            <a href="">Reservar clases</a>
            <a href="">Nuestros bonos</a>
            <a href="">Nuestra cafetería</a>
        </div>
        <div class="footer-col">
            <h4>Contacto</h4>
            <a href="">balanzen.ad@balanzen.com</a>
            <a href="">999 999 999</a>
            <a href="">Andorra</a>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Balanzen. Todos los derechos reservados.</p>
    </div>
</footer>