{% load static %}
<header>
  <a href="{% url 'home' %}" class="logo-nav">
    <img class="logo" src="{% static 'assets/logos/logo_negro.svg' %}" alt="Balanzen logo" />
  </a>
  <nav class="header-nav">

    {% if not request.user.is_authenticated %}
    <button class="btn-login">
      <a id="btn-login" href="{% url 'login' %}">Iniciar sesión</a>
    </button>
    <button class="btn-login">
    <a id="btn-login" href="{% url 'signup' %}">Regístrate</a>
    </button>
    {% else %}
    <h3>Bienvenidx, {{ request.user.nombre }}!</h3>
    
    <button class="btn-login">
      {% csrf_token %}
      <a href="{% url 'logout' %}" id="btn-login">Cerrar sesión</a>
    </button>
    {% endif %}
  </nav>
</header>