{% extends 'pages/base.html' %}
{% load static %

}
{% block content %}


<main>
      <div class="login-container">
        <form class="login-box" action="" method="POST">
          <h2>Regístrate</h2>
          <div class="input-container">
            <i class="material-icons input-icon">person</i>
            <input
              type="text"
              name="firstname"
              id="firstname"
              placeholder="Nombre"
            />
          </div>
          <div class="input-container">
            <i class="material-icons input-icon">person</i>
            <input
              type="text"
              name="lastname"
              id="lastname"
              placeholder="Apellidos"
            />
          </div>
          <div class="input-container">
            <i class="material-icons input-icon">email</i>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Correo electrónico"
            />
          </div>

          <div class="input-container">
            <i class="material-icons input-icon">lock</i>
            <input
              type="password"
              name="clave"
              id="clave"
              placeholder="Contraseña"
            />
          </div>
          <button type="submit">Entrar</button>
          <div class="login-options">
            <p>¿Ya tienes cuenta? <a href="{% url 'login' %}">Iniciar sesión</a></p>
            <a href="{% url 'inicio_admin' %}">Admin</a>
            <a href="{% url 'inicio_user' %}">Usuario</a>
            <a href="{% url 'inicio_error' %}">Error</a>
          </div>
        </form>

        <div class="login-content">
          <h1>Balanzen</h1>
          <p>Tu espacio de bienestar y equilibrio.</p>
        </div>
      </div>
    </main>



{% endblock %}