@font-face {
    font-family: 'Inter';
    src: url(../fonts/inter/static/Inter_18pt-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/montserrat/static/Montserrat_18pt-Regular.ttf) format('truetype');
}